* {
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h1,
h2,
p,
input {
  color: #303030;
}