// Colors.
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #cccccc;

$global-background-color: #fdfdfd;
$primary-background-color: #f4f4f9;
$primary-border-color: #e7e8ec;
$primary-row-color: #f0f0f0;
$titles-color: #cedfef;
$error-color: #c45619;
$light-background-color: #f5f7fb;
$blue-background-color: #95c9ff;
$slots-scrollbar-color: #d3d9e1;
$reservations-border-color: #e2e1e6;
$devices-container-border-color: #dfe2e8;
$devices-container-scrollbar-color: #d7dbe2;
$blue-elements-color:#0184c1;
$devices-list-available-color: #a4ce75;
$devices-list-in-use-color:#facd8a;
$box-shadow-effect-color: #888888;

$button-hover-color: #0494c5;
$button-border-color: #99c1df;

$time-select-border: #dfe2e8;
$time-select-arrow-hover-color: #8a8a8a;
$time-select-scrollbar-color: #d7dbe2;

$modal-background-color:#f6f6f4;
$modal-border-color: #f3f4f6;
$modal-exit-icon-hover-color: #737374;